<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.smarquis.urlscheme">

    <application>
        <activity
            android:name=".UrlSchemeActivity"
            android:label="@string/urlscheme_activity"
            android:theme="@style/urlscheme.Base">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/urlscheme_trigger" />
            </intent-filter>
        </activity>
    </application>

</manifest>
